@import '@fontsource/plus-jakarta-sans/400.css';
@import '@fontsource/plus-jakarta-sans/500.css';
@import '@fontsource/plus-jakarta-sans/600.css';
@import '@fontsource/plus-jakarta-sans/700.css';
@import '@fontsource/plus-jakarta-sans/800.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-voyanero-900 text-white font-sans antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-voyanero-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-voyanero-800 rounded-full border border-white/10;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-voyanero-500/50;
}

/* Voyanero Logo Animations */
@keyframes pulse-flow {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.animate-pulse-flow-1 {
  animation: pulse-flow 2s infinite ease-in-out;
  animation-delay: 0s;
}

.animate-pulse-flow-2 {
  animation: pulse-flow 2s infinite ease-in-out;
  animation-delay: 0.3s;
}

.animate-pulse-flow-3 {
  animation: pulse-flow 2s infinite ease-in-out;
  animation-delay: 0.6s;
}